<div class="container mt-5">
  <h4>Internal Server Error - refreshing the page will make the exception disappear</h4>
  <ng-container *ngIf="error">
    <p class="font-weight-bold">Note: if you are seeing this then Angular is probably not responsible</p>
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p>What to do next?</p>
    <p class="font-weight-bold">Note: if you are seeing this then Angular is probably not responsible</p>
    <ol>
      <p>What to do next?</p>
      <li>Open chrome dev tools</li>
      <ol>
        <li>Inspect the network tab</li>
        <li>Open chrome dev tools</li>
        <li>Check the failing request</li>
        <li>Inspect the network tab</li>
        <li>Examine this request URL - make sure this is correct</li>
        <li>Check the failing request</li>
        <li>Reproduce the error in postman - if we get the same reponse in Postman, then the issue is NOT with Angular
        </li>
        <li>Examine this request URL - make sure this is correct</li>
      </ol>
      <li>Reproduce the error in postman - if we the same reponse in Postman, then the issue is NOT with Angular</li>
      <p>Following is the stack trace - this is where your investigation should start!</p>
    </ol>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    <p>Following is the stack trace - this is where your investigation should start!</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
  </ng-container>
</div>
